@charset "utf-8";

/* common */
h1 {
  margin: 0;
  /* background: yellow; */
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
  /* font-weight: normal; */
  font-size: 16px;
}

h4 {
  margin: 0;
}

h5 {
  margin: 0;
}

h6 {
  margin: 16px 0;
  text-align: center;
  font-size: 14px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
  margin: 0;
}

a:hover {
  cursor: pointer;
  background: black;
  color: white;
  opacity: 0.7;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  /* background: skyblue; */
  /* background-image: url(futsal.webp); */
}


img {
  vertical-align: bottom;
}

.container {
  max-width: 600px;
  width: calc(100% - 64px / 2);
  margin: 0 auto;
  box-sizing: border-box;
  padding: 32px 0;
  /* padding-bottom: 32px; */
}

.container a {
  text-decoration: none;
}

.container h3 {
  font-size: 12px;
}

.container h3 a {
  color: blue;
}

button {
  all:unset;
  border-top: 4px solid #d8dcdc;
  border-right: 4px solid #666;
  border-bottom: 4px solid #333;
  border-left: 4px solid #868888;
  border-radius: 8px;
  background-image: -webkit-linear-gradient(135deg, #333 0%, #868888 20%, #d8dcdc 34%, white 53%, #666 100%);
  background-image: linear-gradient(-45deg, #333 0%, #868888 20%, #d8dcdc 34%, white 53%, #666 100%);
  text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff;
  position: fixed;
  top: 16px;
  right: 16px;
}


/* button:hover {
  text-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff;
} */


/* header */

header img {
  border: 2px solid black;
}

/* message */
.message h2 {
  margin-top: 32px;
}

.message p {
  margin: 32px 0;
  font-size: 14px;
}

/* hero */

.hero h4 {
  text-align: center;
  margin: 8px;
}
.hero {
  display: flex;
  gap: 8px;
}

.hero div {
  flex: 1;
}

.hero img {
  width: 100%;
  height: auto;
  margin-top: 16px;
}

.hero li {
  font-size: 10px;
}

.reversed {
  flex-direction: row-reverse;
}

.organize li {
  font-weight: bold;
}

.organize a {
  color: blue;
}

/* footer */

footer {
  /* background: skyblue; */
  text-align: center;
  background: #333;
  color: white;
  padding: 32px 0;
  /* padding:64px 0; */
}

small {
  font-size: 14px;
  /* color: white; */
}

/* team */

.team h2 {
  margin: 32px 0;
}

.team p {
  line-height: 1.6;
}

.team span {
  color: rgb(228, 54, 159);
}

/* final */

.final {
  margin-top: 16px;
}

.final p {
  line-height: 1.6;
  margin-top: 16px;
  font-size: 10px;
  /* background: skyblue;  */
}

.study {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;
}

/* schedule */
.shedules header {
  /* background: skyblue; */
  display:flex;
  justify-content: center;
}

.schedule h2 {
  text-align: center;
  margin-top: 16px;
  font-size: 14px;
}

.schedule h3 {
  margin: 8px 0;
}

.schedule h4 {
  text-align: center;
  font-size: 12px;
}


.schedules div {
  padding-bottom: 32px;
}

.schedule ul {
  margin:8px 0;
}

.schedule p {
  font-weight: bold;
}

.schedule button {
  padding: 8px 16px;
  border: 1px solid black;
  font-size: 8px;
}

.schedule a {
  text-decoration: none;
}

.schedule p {
  text-align: center;
  margin: 8px 0;
}

.schedule li {
  border-top: 1px solid black;
  font-size: 10px;
  padding-top: 8px;
}

.schedule h6 {
 text-align: left;
 margin: 0; 
 font-weight: normal;
 font-size: 8px;
}

.schedule span {
  font-weight: normal;
  font-size: 8px;
}

