@charset "utf-8";

/* common */
h1 {
  margin: 0;
  /* background: yellow; */
}

h2 {
  margin: 16px 0;
  text-align: center;
}

h3 {
  margin: 0;
  font-weight: normal;
}

h4 {
  margin: 0;
  font-weight: normal;
}

h5 {
  margin: 0;
  font-weight: normal;
}


body {
  margin: 0;
  /* background: skyblue; */
  /* background-image: url(futsal.webp); */
}


img {
  vertical-align: bottom;
  border: 2px solid black;
}


.container {
  max-width: 600px;
  width: calc(100% - 64px / 2);
  margin: 0 auto;
  box-sizing: border-box;
  padding: 32px 0;
  /* padding-bottom: 32px; */
}


/* main */
main {
  margin-top: 16px;
}
main h3 {
  font-size: 8px;
  text-align: center;
}

main h4 {
  font-size: 8px;
  text-align: center;
}

main h5 {
  text-align: center;
  font-size: 8px;
}

main p {
  font-size: 8px;
  /* background: plum; */
  flex:2;
  margin: 0;
}

.detail {
  display: flex;
}

/* hero */
.hero {
  display: flex;
  margin-top: 16px;
}

/* ichiro */
.ichiro {
  /* background: pink; */
  text-align: center;
  flex:2;
}

/* kohei */
.kohei {
  /* background: skyblue; */
  text-align: center;
  flex: 2;
}

/* shinya */
.shinya {
  /* background: yellow; */
  text-align: center;
  flex:2;
}

/* wakabayashi */
.wakabayashi {
  /* background: tomato; */
  text-align: center;
  flex:2;
}

/* man-mixA */
.man-mixA {
  /* background: lightgray; */
  text-align: center;
  flex: 2;
}

/* man-mixB */
.man-mixB {
  /* background: blue; */
  text-align: center;
  flex: 2;
}

/* woman-mixA */
.woman-mixA {
  /* background: greenyellow; */
  text-align: center;
  flex: 2;
}

/* woman-mixB */
.woman-mixB {
  /* background: red; */
  text-align: center;
  flex: 2;
}

/* man-mixC */
.man-mixC {
  /* background: gold; */
  text-align: center;
  flex: 2;
}

/* man-mixD */
.man-mixD {
  /* background: violet; */
  text-align: center;
  flex: 2;
}

/* woman-mixC */
.woman-mixC {
  /* background: firebrick; */
  text-align: center;
  flex: 2;
}

/* woman-mixD */
.woman-mixD {
  /* background: powderblue; */
  text-align: center;
  flex: 2;
}

.score {
  /* background: black; */
  /* color:white; */
  text-align: center;
  flex: 1;
}

span {
  color: red;
  font-weight: bold;
}

main {
  background-image: url(futsal.webp);
  border:1px solid black;
  padding:8px;
  border-radius: 8px;
}
/* footer */
footer {
  font-size:14px;
  text-align: center;
  background: #323435;
  color:white;
  padding: 32px 0;
}
